[credential]
        helper = store
[pull]
        ff = only
[commit]
        gpgsign = true
[tag]
        gpgSign = true
[alias]
        uncommit = reset --soft HEAD^1
[alias]
        squash = "!f() { git reset --soft \"$(git merge-base HEAD main)\"; }; f"
[alias]
	    co = checkout
[alias]
        p = pull
[alias]
        repush = "!f() { git add -u && git commit --amend --no-edit && git push --force-with-lease; }; f"
[alias]
        find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
[alias]
        fpush = "push --force"
[rerere]
        enabled = true
        # Auto-stage solved conflicts
        autoupdate = true
[rebase]
        autosquash = true
        autostash = true
        # Automatically update other branches based on the rebased contents
        updaterefs = true
[help]
	autocorrect = prompt
[push]
	autoSetupRemote = true
